:root {
  --clr-bgmain-white: rgba(253, 253, 255, 0.52);
  --clr-primary-orange: linear-gradient(
    113.96deg,
    #f9804b 1.49%,
    #fe9013 101.44%
  );
  --clr-accent-orange: linear-gradient(
      315.75deg,
      rgba(254, 210, 144, 0.7) 30.06%,
      #febdab 100.95%,
      rgba(254, 210, 144, 0.7) 106.36%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );
  --clr-primary-black: #333b41;
  --clr-primary-gray: #767474;
  --clr-accent-gray: #767474;
  --clr-accent-lightgray: #f1f3f2;
  --clr-accent-yellow: #ffee2e;

  --ff-primary: "Roboto", sans-serif;

  --ff-heading: var(--ff-primary);
  --ff-body: var(--ff-primary);

  --fw-header-bold: 700;
  --fw-main-reg: 400;
  --fw-body-med: 500;
}

html,
body {
  height: 100%;
}

body {
  font-family: var(--ff-primary);
  max-width: 1600px;
  background: var(--clr-bgmain-white);
  margin: 0;
}

h1 {
  color: rgb(246, 242, 242);
  background: var(--clr-accent-orange);
  padding: 50px;
}
