:root {
  --clr-bgmain-white: rgba(253, 253, 255, 0.52);
  --clr-primary-orange: linear-gradient(
    113.96deg,
    #f9804b 1.49%,
    #fe9013 101.44%
  );
  --clr-accent-orange: linear-gradient(
      315.75deg,
      rgba(254, 210, 144, 0.7) 30.06%,
      #febdab 100.95%,
      rgba(254, 210, 144, 0.7) 106.36%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );
  --clr-primary-black: #333b41;
  --clr-primary-gray: #767474;
  --clr-accent-gray: #767474;
  --clr-accent-lightgray: #f1f3f2;
  --clr-accent-yellow: #ffee2e;

  --ff-primary: "Roboto", sans-serif;

  --ff-heading: var(--ff-primary);
  --ff-body: var(--ff-primary);

  --fw-header-bold: 700;
  --fw-main-reg: 400;
  --fw-body-med: 500;
  --fw-body-sm: 300;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: var(--ff-primary);
  max-width: 1600px;
  background: var(--clr-bgmain-white);
  margin: auto;
}

header {
  background: #000000;
  position: sticky;
  top: 0;
  z-index: 3;
}

h1 {
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

button {
  background: var(--clr-primary-orange);
  color: white;
  text-transform: uppercase;
  border: 1px solid var(--clr-primary-orange);
  border-radius: 25px;
  width: 298px;
  height: 54px;
}
h2 {
  font-size: 48px;
  font-weight: var(--fw-main-reg);
  line-height: 120%;
  color: var(--clr-primary-black);
  margin-top: 0;
  margin-bottom: 20px;
}

h3 {
  font-size: 36px;
  font-weight: var(--fw-main-reg);
  line-height: 46.8px;
  color: var(--clr-primary-black);
}

h4 {
  font-size: 24px;
  font-weight: var(--fw-main-reg);
  line-height: 28.8px;
  color: var(--clr-primary-black);
  margin-top: 0;
  margin-bottom: 34px;
}

main {
  position: relative;
  margin: 0 auto;
}

table {
  table-layout: auto;
  width: 340px;
  margin: 2px 2px 8px 10px;
}

tr {
  height: 40px;
}

td p {
  margin: 0;
}

.container {
  width: 1160px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

ul.nav-list {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  align-items: center;
  gap: 58px;
}

ul.nav-list li {
  flex-shrink: 0;
}

ul.nav-list li:last-child {
  margin-left: 438px;
  flex-shrink: 0;
}

div.main-slide {
  background-image: url(/src/images/Giant\ Panda.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  position: relative;
}

.slide .orange-elipse {
  position: relative;
  left: 807px;
  top: 12px;
}

.slide .slider-heading {
  color: white;
  font-size: 106.5px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  margin: 0;
  top: 86px;
  left: 880px;
  line-height: 79.87px;
  text-align: center;
}

.slider-heading span {
  color: var(--clr-accent-yellow);
}

.slide button {
  padding: 16px 98px;
  position: absolute;
  left: 983px;
  top: 564px;
}

.backstage {
  gap: 87px;
  padding-top: 140px;
  margin-bottom: 120px;
}

.backstage p {
  font-size: 16px;
  font-weight: var(--fw-main-reg);
  color: var(--clr-primary-black);
  line-height: 22.4px;
  margin-top: 0;
  margin-bottom: 54px;
}

.column {
  flex: 1;
  gap: 87px;
  height: 405px;
}

.cards {
  gap: 28px;
  position: relative;
}

div.card {
  border: 1px solid #fa6f32;
  border-radius: 5px;
}

.zoo-name {
  font-size: 16px;
  font-weight: var(--fw-body-med);
  line-height: 22.4px;
  text-transform: uppercase;
}

.continent {
  font-size: 15px;
  font-weight: var(--fw-body-sm);
  line-height: 18px;
}

button.arrow {
  width: 62px;
  height: 62px;
  border: 1px solid var(--clr-primary-orange);
  border-radius: 100px;
}

button.left {
  position: absolute;
  top: 414px;
  left: 138px;
}

button.right {
  position: absolute;
  top: 414px;
  right: 140px;
}

.center {
  text-align: center;
  margin-top: 80px;
}

section.pick-feed {
  background: var(--clr-accent-orange);
  height: 1004px;
  text-align: center;
  margin-top: 100px;
  padding-top: 69px;
}

section .background {
  background: rgba(253, 253, 255, 0.52);
  border-radius: 20px;
  width: 1160px;
  height: 835px;
  margin: auto;
  padding-top: 41px;
}

.orange-txt {
  color: #fe9013;
  margin-bottom: 6px;
}

.background p {
  text-align: left;
  padding-left: 99px;

  color: var(--clr-primary-black);
}
p.large-txt {
  font-size: 24px;
  font-weight: var(--fw-main-reg);

  line-height: 28.8px;
}
p.bold-txt {
  font-size: 16px;
  font-weight: var(--fw-body-med);

  line-height: 20.8px;
  margin-top: 6px;
  margin-bottom: 10px;
}

p.main-txt {
  font-size: 16px;
  font-weight: var(--fw-main-reg);

  line-height: 20.8px;
  padding-right: 198px;
  margin-top: 0;
}

.emergency-link {
  color: var(--clr-primary-gray);
  text-decoration: underline;
  text-decoration-color: #fe9013;
}

.scroll::-webkit-scrollbar {
  width: 2em;
  height: 1em;
}

.scroll::-webkit-scrollbar-track {
  background: hsl(120 75% 50% / 1);
  border-radius: 100vw;
  margin-block: 0.5em;
}

.scroll::-webkit-scrollbar-thumb {
  background: hsl(120 100% 20% / 1);
  border: 0.25em solid hsl(120 75% 50% / 1);
  border-radius: 100vw;
}
.scroll {
  max-width: 1160px;
  display: grid;
  gap: 0.5em;
  grid-auto-flow: column;
  grid-auto-columns: 75%;
  padding: 0.5em;
  overflow-x: scroll;
  background: #d3fdbe;
  border-radius: 1em;
  position: relative;
}

.scroll > div {
  background: hsl(0 0% 90%);
  border-radius: 1em;
  border: 0.5em solid hsl(0 0% 60%);
  padding: 1em;
}
