:root {
  --clr-bgmain-white: rgba(253, 253, 255, 0.52);
  --clr-primary-orange: linear-gradient(
    113.96deg,
    #f9804b 1.49%,
    #fe9013 101.44%
  );
  --clr-accent-orange: linear-gradient(
      315.75deg,
      rgba(254, 210, 144, 0.7) 30.06%,
      #febdab 100.95%,
      rgba(254, 210, 144, 0.7) 106.36%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );
  --clr-accent-border: linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );
  --clr-primary-black: #333b41;
  --clr-primary-gray: #767474;
  --clr-accent-gray: #767474;
  --clr-accent-lightgray: #f1f3f2;
  --clr-accent-yellow: #ffee2e;

  --ff-primary: "Roboto", sans-serif;

  --ff-heading: var(--ff-primary);
  --ff-body: var(--ff-primary);

  --fw-header-bold: 700;
  --fw-main-reg: 400;
  --fw-body-med: 500;
  --fw-body-sm: 300;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: var(--ff-primary);
  max-width: 1600px;
  background: var(--clr-bgmain-white);
  margin: auto;
  position: relative;
}

header {
  background: #000000;
  position: sticky;
  top: 0;
  z-index: 1;
}

h1 small {
  margin: 0;
  font-size: 5px;
  position: absolute;
  left: 280px;
  top: 60px;
}

h2 {
  color: #fe9013;
  font-size: 48px;
  font-weight: var(--fw-main-reg);
  line-height: 57.6px;
  margin-bottom: 20px;
}

h3 {
  font-size: 36px;
  font-weight: var(--fw-main-reg);
  color: white;
  line-height: 46.8px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

h3.orange-txt {
  color: #fe9013;
  text-transform: none;
  margin-bottom: 60px;
}

p.small {
  font-size: 16px;
  font-weight: var(--fw-main-reg);
  line-height: 22.5px;
  color: #333b41;
  text-align: left;
  margin-bottom: 10px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

button {
  background: var(--clr-primary-orange);
  color: white;
  text-transform: uppercase;
  border: 1px solid var(--clr-primary-orange);
  border-radius: 25px;
  width: 298px;
  height: 54px;
  margin-bottom: 30px;
}

button.rectangle {
  margin-top: 68px;
  margin-bottom: 44px;

  text-align: center;
  border-radius: 8px;
}

button:hover {
  background: #e47209;
  cursor: pointer;
}

main {
  background: var(--clr-accent-orange);
  height: 1482px;
  text-align: center;
  margin-top: -5px;
}

main p {
  color: white;
  text-align: left;
  font-size: 16px;
  font-weight: var(--fw-body-med);
  margin-top: 0;
}

form {
  margin-top: 50px;
  position: relative;
}

form img {
  position: absolute;
  top: 17px;
  right: 364px;
}

a.active {
  color: #f9804b;
}

.container {
  width: 1160px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.background-img {
  height: 390px;
  width: 1600px;
  margin: 0;
}

.pick-feed {
  background: rgba(253, 253, 255, 0.52);
  border-radius: 20px;
  width: 1160px;
  height: 950px;
  margin: auto;
  padding: 0 92px;
}

.pick-feed p.regular {
  color: #333b41;
  font-size: 24px;
  line-height: 28.8px;
  font-weight: var(--fw-main-reg);
}

ul.nav-list {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  align-items: center;
  gap: 58px;
  font-size: 16px;
  font-weight: var(--fw-body-med);
  padding-left: 0px;
}

ul.nav-list li {
  flex-shrink: 0;
}

ul.nav-list li:last-child {
  margin-left: 380px;
  flex-shrink: 0;
}

.diet-widget {
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
  margin-top: 35px;
}

div.col {
  vertical-align: middle;
}

div.form {
  margin-top: 48px;
}

.bar-line {
  width: 976px;
  height: 27px;
  position: relative;
  background-color: var(--clr-primary-black);
}

hr {
  border: 1px solid #72828e;
  height: 1px;
  width: 915px;
  background-color: #72828e;
  position: relative;
  top: 12.5px;
  left: 26px;
  margin: 0;
}

.dots {
  display: flex;
  justify-content: space-between;
  width: 920px;
  margin-left: 25px;
  margin-top: 6px;
}

.bar-line a {
  background: transparent;
  padding: 20px;
}
.dot {
  width: 10px;
  height: 10px;
  border-radius: 100px;
  background: var(--clr-accent-yellow);
  gap: 55px;
  z-index: 4;
}
.bar-line a:hover {
  cursor: pointer;
}

ul.amount {
  display: flex;
  justify-content: space-between;
  width: 975px;
  padding-left: 0;
}
ul.amount li {
  font-size: 26px;
  font-weight: var(--fw-body-med);
  line-height: 36.4px;
  color: #333b41;
  padding-right: 30px;
}

.amount-input {
  width: 268px;
  height: 54px;
  background: transparent;
  border: 1px solid lightgray;
  color: #929699;
  margin-bottom: 25px;
}

.amount-input::-webkit-outer-spin-button,
.amount-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="radio"] {
  accent-color: #f9804b;
  margin-bottom: 31px;
}

p.center {
  text-align: center;
}

footer {
  background-color: #000000;
  margin: auto;
  height: 443px;
}

footer .container {
  height: 443px;
}

.footer-col {
  position: relative;
  height: 443px;
}

.footer-col:nth-child(1) {
  width: 25%;
  padding-top: 41px;
}

.footer-col:nth-child(2) {
  width: 40%;
}
.footer-col:nth-child(3) {
  width: 35%;
  padding-top: 41px;
}

.large-txt {
  color: white;
}

.subscribe-col .main-txt-light {
  text-align: right;
  padding-top: 160px;
  margin-right: 20px;
  color: #cacaca;
  line-height: 30.8px;
  opacity: 0.5;
}

footer button.rectangle {
  margin-top: 68px;
  margin-bottom: 44px;
}

.nav-list-footer {
  display: flex;
  justify-content: center;
  gap: 58px;
  position: relative;
  position: absolute;
  bottom: 32px;
  font-size: 16px;
  font-weight: var(--fw-main-reg);
}

.input-email {
  width: 228px;
  height: 42px;
  background: black;
  border: solid 0.5px #f9804b;
  color: white;
  font-size: 16px;
  line-height: 22.4px;
  font-weight: var(--fw-main-reg);
  opacity: 0.5;
}

.input-btn {
  width: 129px;
  height: 42px;
  color: #4b9200;
  background: #f1f3f2;
  border-radius: 5px;
  border: 1px solid #4b9200;
  margin-left: 10px;
}

.submit-btn:hover {
  cursor: pointer;
}
